{% extends 'base.html' %}

{% load static %}

{% block content %}

  <section class="site-banner padding-small bg-light-grey">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <span class="item">
              <a href="{% url 'home' %}">Home /</a>
            </span>
            <span class="item">
              <a href="{% url 'shop' %}">Shop /</a>
            </span>
            <span class="item">Cart</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="shopify-cart padding-large">
    <div class="container">
      <div class="cart-table">
        <div class="cart-header border-bottom ">
          <div class="row d-flex">
            <h3 class="cart-title col-lg-4">Product</h3>
            <h3 class="cart-title col-lg-3">Quantity</h3>
            <h3 class="cart-title col-lg-4">Subtotal</h3>
          </div>
        </div>
        {% for item in cart_items %}
        <div class="cart-item border-bottom padding-small">
          <div class="row">
            <div class="col-lg-4 col-md-3">
              <div class="row cart-info d-flex flex-wrap">
                <div class="col-lg-5">
                  <div class="card-image">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card-detail">
                    <h3 class="card-title">
                      <a href="{{ product.name.url }}">{{ product.name }}</a>
                    </h3>
                    <div class="card-price">
                      <span class="money text-primary" data-currency-usd="$1200.00">{{ product.price }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-7">
              <div class="row d-flex">
                <div class="col-md-6">
                  <div class="qty-number d-flex align-items-center justify-content-start">
                    <button class="decrement-button">-</button>
                    <input type="text" name="quantity" class="spin-number-output" value="1" min="1" max="100">
                    <button class="increment-button">+</button>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="total-price">
                    <span class="money text-primary">{{ cart.total_price }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-1 col-md-2">
              <div class="cart-remove">
                <a href="#"><i class="icon icon-close"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      <div class="cart-totals">
        <h2 class="section-title">Cart Totals</h2>
        <div class="total-price">
          <table cellspacing="0" class="table">
            <tbody>
              <tr class="subtotal">
                <th>Subtotal</th>
                <td data-title="Subtotal">
                  <span class="price-amount amount text-primary">
                    <bdi>
                      <span class="price-currency-symbol">$</span>{{ cart.total_price }}
                    </bdi>
                  </span>
                </td>
              </tr>
              <tr class="order-total">
                <th>Total</th>
                <td data-title="Total">
                  <span class="price-amount amount text-primary">
                    <bdi>
                      <span class="price-currency-symbol">$</span>{{ cart.total_price }}</bdi>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="button-wrap">
          <a href="{% url 'cart' %}"><button class="btn btn-dark btn-medium">Update Cart</button></a>
          <a href="{% url 'shop' %}"><button class="btn btn-dark btn-medium">Continue Shopping</button></a>
          <a href="checkout.html"><button class="btn btn-dark btn-medium">Proceed to checkout</button></a>
        </div>
      </div>
    </div>
  </section>

  <section id="subscribe" class="bg-light-grey padding-large">
    <div class="container">
      <div class="row">
        <div class="block-text col-md-6">
          <div class="section-header">
            <h2 class="section-title">Get 25% off Discount Coupons</h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst amet, metus, sit massa posuere maecenas.
            At tellus ut nunc amet vel egestas.</p>
        </div>
        <div class="subscribe-content col-md-6">
          <form id="form" class="d-flex justify-content-between">
            <input type="text" name="email" placeholder="Enter your email addresss here">
            <button class="btn btn-dark">Subscribe Now</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  

  <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

{% endblock %}